@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{

}
body{
    background-color: antiquewhite;
    font-family: "Raleway", sans-serif;
}
nav > ul{
    list-style: none;
    padding-left: 0;
}
nav > ul > li{
    display: inline;
    margin-left: .2rem;
    border-left: solid 2px black;
    padding-left: .2rem;
}
nav > ul > li > a{
    text-decoration: none;
    padding-left: .2rem;
}